@page
@model AspNetCoreStoreApp.Pages.Product.CreateModel
@{
}
<br />
<h2>New Client</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form method="post">

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Product Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="ProductName" value="@Model.productInfo.ProductName" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Price</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Price" value="@Model.productInfo.Price" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Last Modified</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="LastModified" value="@Model.productInfo.LastModified" />
        </div>
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>@Model.successMessage</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>

    </div>

</form>